@use '../../../styles/essentials';
@use '../../../styles/typography';

@import '../../../styles/essentials';
@import '../../../styles/typography';

.userbadge {
    padding: 1.6rem 1rem;
    // border-radius: 1rem;
    text-decoration: none;
    display: flex;
    gap: 1.6rem;
    flex-direction: column;

    @include smooth;

    &:hover {
        background-color: hsl(0, 0, 8%);
        border-bottom: 0.3rem solid  hsl(0, 0, 18%);
    }

    .avatarwraper {
        display: flex;
        position: relative;

        .avatar {
            object-fit: cover;
            object-position: center;
            height: 14rem;
            width: 14rem;
            border-radius: 100rem;
            user-select: none;
            pointer-events: none;
        }

        .verifiedicon {
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 0.8rem;

            height: 2.8rem;
            width: 2.8rem;
        }

    }


    .details {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
    }
}