.browserwraper {
    background-color: hsl(0, 0, 7%);

    height: 100%;
    width: 100%;
    max-width: 30rem;

    position: relative;

    display: flex;
    flex-direction: column;
    // overflow: hidden;
    display: none;


    @media only screen and (max-width: 80rem) {
        width: 6.4%;
    }

    .chaptercontainer {
        padding: 0.9rem 0rem 4rem 0.9rem;
        background-color: hsl(0, 0, 7%);

        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 0.3rem;

        height: 100%;
        max-height: calc(100dvh - 19.6rem);

        overflow-y: auto;
        padding-bottom: 2rem;

        @media only screen and (max-width: 80rem) {
            max-height: calc(100dvh - 14.98rem);
            align-items: center;
        }
    }

    .toplayer {
        padding: 1.9rem 1.9rem;

        background-color: hsl(0, 0%, 10%);

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        gap: 2.4rem;

        font-size: 2rem;
        line-height: 100%;

        font-weight: 600;
        padding-bottom: 1.6rem;
        z-index: 300;
        line-height: 100%;

        border-bottom: 0.03rem solid hsl(0, 0, 16%);

        @media only screen and (max-width: 80rem) {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 1.8rem;
        }

        .browseicon{
            height: 2.2rem;
            width:  2.2rem;
        }
        .sectionlabel {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            letter-spacing: -0.02rem;

            @media only screen and (max-width: 80rem) {
                display: none;
            }

            .gradient {
                background: var(--ln, linear-gradient(87deg, #AFA7A1 -15.71%, #FE4200 28.99%, #FF805B 89.6%, #98B7C0 114.83%));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

        }

    }
}