@use '../../../styles/essentials';
@import '../../../styles/essentials';

.displaycontainer {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .displaywraper {
        width: 85%;
        width: 100%;
        height: 100%;
        min-height: calc(100dvh - 9.4rem);
        max-height: calc(100dvh - 9.4rem);
        overflow-y: scroll;

        background-color: hsl(0, 0, 14%);

        display: flex;
        flex-direction: column;
        gap: 3.6rem;
        padding-bottom: 10rem;

        .header {
            padding: 4rem 4rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 2rem;

            background-color: hsla(27, 28%, 77%, 0.16);
            position: relative;

            &::after {
                position: absolute;
                bottom: 0;
                left: 0;
                content: '';
                width: 100%;
                background: var(--ln, linear-gradient(87deg, #AFA7A1 -15.71%, #FE4200 28.99%, #FF805B 89.6%, #98B7C0 114.83%));
                height: 0.26rem;
            }

            .titlewraper {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 0.6rem;

                .topicwraper {
                    display: flex;
                    flex-direction: column;
                    gap: 1.6rem;

                    .seriestitle {
                        font-size: 2.7rem;
                        line-height: 100%;
                        font-weight: 600;
                        color: hsl(0, 9, 98%);
                    }

                    .startingdate {
                        font-size: 1.48rem;
                        line-height: 100%;
                        font-weight: 400;
                        opacity: 0.6;
                        padding: 0.6rem 0rem;
                    }

                    .subhead {
                        font-size: 1.6rem;
                        font-weight: 600;
                        text-transform: lowercase;

                        background: var(--ln, linear-gradient(87deg, #AFA7A1 -15.71%, #FE4200 28.99%, #FF805B 89.6%, #98B7C0 114.83%));
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }

                .bottomwraper {
                    display: flex;
                    flex-direction: row;
                    gap: 1.4rem;
                    align-items: center;

                    .tool {
                        height: 3.2rem;
                        stroke: hsl(0, 0, 90%);
                    }

                    .separator {
                        height: 1.6rem;
                        width: 0.14rem;
                        border-radius: 10rem;
                        background-color: hsl(0, 0, 100%, 0.3);
                    }

                    .creator {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 1rem;
                        padding: 0rem 0rem;

                        .creatorbadge {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: relative;

                            .creatorpic {
                                display: flex;
                                border-radius: 10rem;
                                overflow: hidden;
                                height: 4rem;
                                width: 4rem;
                                aspect-ratio: 1/1;
                                object-position: center;
                                object-fit: cover;
                                user-select: none;
                                pointer-events: none;
                            }

                            .verifiedicon {
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                transform: translate(0.16rem, 0.16rem);
                            }
                        }

                        .creatordetails {
                            display: flex;
                            flex-direction: column;

                            .headtxt {
                                font-size: 1.6rem;
                                font-weight: 500;
                            }

                            .subheadtxt {
                                font-size: 1.6rem;
                                font-weight: 400;
                                color: hsl(0, 0, 100%);
                                opacity: 0.5;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                gap: 0.4rem;
                            }
                        }
                    }
                }


            }

            .banner {
                user-select: none;
                pointer-events: none;

                aspect-ratio: 1/1;
                object-fit: cover;
                object-position: center;
                width: 100%;
                max-width: 29.58rem;
            }
        }

        .datawraper {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;

            padding: 1rem 4rem;
            gap: 1rem;

            .playlistwraper {
                display: flex;
                flex-direction: column;
                // max-width: 80rem;
                width: 100%;



                .playlistindex {
                    display: flex;
                    align-items: flex-start;
                    flex-direction: row;
                    padding: 1.6rem 2rem;
                    @include smooth;
                    cursor: pointer;
                    border-bottom: 0.03rem solid hsl(0, 0, 18%);


                    display: none;

                    .index {
                        width: 100%;
                        max-width: 3.2rem;
                        font-size: 1.3rem;
                        display: flex;
                        font-weight: 400;
                        opacity: 0.5;
                        user-select: none;
                    }

                    .subwraper {
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        gap: 1.6rem;
                        width: 100%;

                        .chapterwraper {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .chapterbanner {
                                display: flex;
                                width: 100%;
                                max-width: 20rem;
                                object-fit: cover;
                                object-position: top;
                                aspect-ratio: 16/9;
                                @include protectmedia;
                            }
                        }

                        .chapterdetails {
                            display: flex;
                            flex-direction: column;
                            gap: 0.4rem;

                            width: 100%;
                            max-width: 40rem;


                            .chaptertitle {
                                font-size: 1.6rem;
                                font-weight: 600;
                                user-select: none;

                            }

                            .indextitle {
                                width: 100%;
                                font-size: 1.3rem;
                                display: flex;
                                font-weight: 400;
                                opacity: 0.5;
                                user-select: none;

                            }

                            .chaptersubtitle {
                                font-size: 1.6rem;
                                font-weight: 400;
                                color: hsl(0, 0, 100%);
                                opacity: 0.5;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                gap: 0.4rem;
                                user-select: none;

                                // display: none;
                            }
                        }
                    }

                }

                .playlist {
                    display: flex;
                    align-items: flex-start;
                    flex-direction: row;
                    padding: 1.2rem 2rem;
                    @include smooth;
                    cursor: pointer;
                    overflow: hidden;

                    &:hover {
                        background-color: hsl(0, 0, 18%);

                        .subwraper {
                            .chapterwraper {
                                .chapterbanner {
                                    opacity: 0.8;
                                }

                                .playbtn {
                                    transform: translateY(0);
                                    opacity: 1;
                                }
                            }
                        }
                    }



                    .index {
                        width: 100%;
                        max-width: 3.2rem;
                        font-size: 1.3rem;
                        display: flex;
                        font-weight: 400;
                        opacity: 0.6;
                        user-select: none;
                    }

                    .subwraper {
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        gap: 1.6rem;
                        width: 100%;

                        .chapterwraper {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: relative;

                            .chapterbanner {
                                display: flex;
                                width: 100%;
                                max-width: 20rem;
                                object-fit: cover;
                                object-position: top;
                                aspect-ratio: 16/9;
                                @include protectmedia;
                                @include smooth;
                            }

                            .playbtn {
                                position: absolute;
                                right: 0;
                                bottom: 0;
                                display: inline-flex;
                                border-radius: 100rem;
                                margin: 1rem;
                                @include smooth;
                                transform: translateY(1rem);
                                opacity: 0;
                                cursor: pointer;
                            }
                        }

                        .chapterdetails {
                            display: flex;
                            flex-direction: column;
                            gap: 0.4rem;

                            width: 100%;
                            max-width: 40rem;

                            .chaptertitle {
                                font-size: 1.6rem;
                                font-weight: 600;
                                user-select: none;
                            }

                            .indextitle {
                                width: 100%;
                                font-size: 1.3rem;
                                display: flex;
                                font-weight: 400;
                                opacity: 0.6;
                                user-select: none;
                            }

                            .chaptersubtitle {
                                font-size: 1.6rem;
                                font-weight: 400;
                                color: hsl(0, 0, 100%);
                                opacity: 0.5;
                                user-select: none;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                gap: 0.4rem;

                                // display: none;
                            }
                        }
                    }

                }


            }

            .chapterdetailswraper {
                width: 100%;
                max-width: 30rem;
                padding: 0rem 4rem;
                height: 40rem;
                background: linear-gradient(87deg, #AFA7A1 -15.71%, #FE4200 28.99%, #FF805B 89.6%, #98B7C0 114.83%);
            }
        }

    }
}