@use '../../../styles/essentials';
@import '../../../styles/essentials';

.displaylayout {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    min-height: 100dvh;
    overflow: hidden;

    .canvasambient {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: 100vw;
        max-height: 100dvh;
        opacity: 0.3;
        scale: 150%;
        z-index: 0;
        filter: blur(10rem);
        ;
    }


}

.muxplayer {
    position: relative;
    z-index: 10;
    width: 100%;
    aspect-ratio: 16/9;
    padding: 10rem;
    --seek-backward-button: none;
    --seek-forward-button: none;
}