@use '../../../styles/essentials';
@import '../../../styles/essentials';

.displaycontainer {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .displaywraper {
        width: 85%;
        width: 100%;
        height: 100%;
        min-height: calc(100dvh - 8rem);
        max-height: calc(100dvh - 8rem);
        overflow-y: scroll;

        // background-color: hsl(0, 0, 7%);

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.6rem;
        padding-bottom: 10rem;

        padding: 4rem;

        @media only screen and (max-width: 60rem) {
            padding: 4rem 1rem;
        }

        .header {
            display: flex;
            padding: 3.4rem;
            width: 100%;
            flex-direction: column;
            // align-items: center;
            gap: 2.6rem;
            max-width: 70rem;
            background-color: hsl(0, 0, 12%);

            position: relative;

            @media only screen and (max-width: 40rem) {
                padding: 4rem 1.6rem;
            }

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                width: 100%;
                background: var(--ln, linear-gradient(87deg, #AFA7A1 -15.71%, #FE4200 28.99%, #FF805B 89.6%, #98B7C0 114.83%));
                height: 0.26rem;
            }

            .username {
                font-size: 1.8rem;
                font-weight: 600;
                color: hsl(0, 0, 90%);
                display: flex;
                align-items: center;
                gap: 0.3rem;
            }

            .avatar {
                border-radius: 100rem;
                @include protectmedia;
                height: 12rem;
                width: 12rem;
            }

        }

        .feed {
            width: 100%;
            max-width: 70rem;
            // min-height: 40rem;
            background-color: hsl(0, 0, 12%);
            padding: 4rem 4rem 0rem 4rem;
            display: flex;
            flex-direction: column;
            gap: 2.6rem;

            @media only screen and (max-width: 40rem) {
                padding: 3rem 1.6rem 0rem 1.6rem;
            }

            .sectionhead {
                font-size: 1.7rem;
                font-weight: 400;
            }

            .gridcontainer {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1rem;

                .griditem {
                    overflow: hidden;

                    .image {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        aspect-ratio: 1/1;
                    }
                }
            }

            .expandbtn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                padding: 2rem;
                cursor: pointer;
                background: hsl(0, 0, 14%);
                @include smooth;

                &:hover {
                    background: hsl(0, 0, 18%);
                }

                .downarrow {
                    height: 2.6rem;
                }
            }
        }

        .userbio {
            display: flex;
            flex-direction: column;
            gap: 0.6rem;

            .name {
                font-size: 1.8rem;
                font-weight: 600;
                color: hsl(0, 0, 90%);
            }

            .bio {
                font-size: 1.56rem;
                font-weight: 500;
                color: hsl(0, 0, 60%);
                line-height: 140%;
            }
        }

        .footer {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 1.6rem;
            padding: 4rem;

            .label {
                font-size: 1.66rem;
                font-weight: 500;
                color: hsl(0, 0, 90%);
            }
        }
    }
}