@use '../../../../styles/essentials';
@use '../../../../styles/typography';

@import '../../../../styles/essentials';
@import '../../../../styles/typography';


.bannercontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.4rem;

    padding: 1.2rem 1rem;
    @include smooth;
    cursor: pointer;

    background: none;
    z-index: 500;
    &:hover {
        background-color: hsl(0, 0%, 20%);
    }

    @media only screen and (max-width: 80rem) {
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .extradetails {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.2rem;

        user-select: none;

        @media only screen and (max-width: 80rem) {
            display: none;
        }

        .titlebanner {
            font-family: Gabarito;
            font-size: 1.64rem;
            font-weight: 500;
            color: hsl(0, 0, 98%);

            @media only screen and (max-width: 80rem) {
                display: none;
            }
        }

        .shortchip {
            font-family: Gabarito;
            font-size: 1.56rem;
            font-weight: 600;
            color: hsl(0, 0, 50%);
            text-transform: lowercase;

            @media only screen and (max-width: 80rem) {
                display: none;
            }
        }
    }

    .banner {
        display: flex;
        flex-wrap: wrap;

        cursor: pointer;
        user-select: none;
        pointer-events: none;

        width: 100%;
        object-fit: cover;
        object-position: top;
        
        aspect-ratio: 1/1;
        max-width: 22rem;
    }
}

