@use './typography';
@import './typography';

@mixin smooth {
    transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@mixin protectmedia {
    user-select: none;
    pointer-events: none;
}

$corner: 0rem;

.btn {
    padding: 1.8rem 2rem;
    font-size: 1.56rem;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    line-height: 100%;
    border-radius: 6rem;
    background-color: hsl(0, 0, 90%);
    color: hsl(0, 0, 10%);
    @include smooth();

    &:hover {
        background-color: hsl(0, 0, 70%);

    }
}