* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5%;
}

a{
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    background-color: hsl(141, 76%, 48%);
    color: hsl(0, 0%, 0%);
    
}

body{
    background-color: hsl(0, 0%, 0%);
    background-color: hsl(0, 0, 10%);

    color: hsl(0, 0%, 100%);
}

// Burner Fonts

@font-face {
    font-family: Mluvka-ExtraBold;
    src: url(/fonts/Mluvka-ExtraBold.woff) format("woff");
}

@font-face {
    font-family: Mluvka-Bold;
    src: url(/fonts/Mluvka-Bold.woff) format("woff");
}

@font-face {
    font-family: Mluvka-SemiBold;
    src: url(/fonts/Mluvka-SemiBold.woff) format("woff");
}

@font-face {
    font-family: Mluvka-Medium;
    src: url(/fonts/Mluvka-Medium.woff) format("woff");
}

@font-face {
    font-family: Mluvka-Regular;
    src: url(/fonts/Mluvka-Regular.woff) format("woff");
}

// Burner Fonts