@use '../../../styles/essentials';
@use '../../../styles/typography';

@import '../../../styles/essentials';
@import '../../../styles/typography';

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.4rem;
    background-color: hsl(0%, 0%, 8%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 9999;
    min-height: 70rem;
}

.searchbox {
    display: flex;
    border-radius: 100rem;
    background-color: hsl(0, 0, 16%);
    font-size: 1.7rem;
    padding: 1.4rem 1.6rem;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 34rem;
    flex-direction: row;
    color: hsl(0, 0, 56%);
    font-weight: 500;
    line-height: 100%;
    line-height: auto;
    cursor: pointer;
    user-select: none;

    @include smooth;

    &:hover {
        background-color: hsl(0, 0, 14%);

        .searchicon {
            fill: hsl(0, 0, 80%);
        }
    }

    .searchicon {
        height: 2.4rem;
        fill: hsl(0, 0, 56%);
        @include smooth;
    }
}

/* Background overlay that dims the rest of the page */
.backgroundOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsl(0, 0%, 0%);
    z-index: 999;
}

/* Container for the overlay */
.overlayContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // height: 100%;
    display: flex;
    justify-content: center;
    // max-height: 50rem;
    z-index: 1000;
}

/* The actual content of the overlay */
.overlayContent {
    width: 100%;
    max-width: 76rem;
    padding: 0rem 0rem 0rem 1.6rem;
    background-color: hsl(0, 0%, 10%);
    border-radius: 10px;
    box-shadow: 0rem 0.4rem 2rem rgba(0, 0, 0, 0.3);
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1001;
    gap: 0rem;
    overflow: hidden;

    .drops {
        width: 100%;
        display: flex;
        padding: 0rem 0.7rem;
        padding-right: 1.4rem;
        padding-bottom: 2rem;
        height: 100%;
        max-height: 50rem;
        overflow-y: scroll;

        font-size: 1.3rem;
        font-weight: 600;
        color: hsl(0, 0, 34%);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1.8rem;

        @media only screen and (max-width: 80rem){
            padding-right: 2.6rem;
        }

        .dropswraper {
            width: 100%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 1rem;

            .drop {
                text-decoration: none;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                gap: 1.3rem;
                width: 100%;
                height: 100%;
                padding: 1.6rem 1rem;
                @include smooth;
                cursor: pointer;

                .index{
                    min-width: 1.3rem;
                    color: hsl(0, 0, 30%);
                }
                &:hover {
                    background-color: hsl(0, 0, 14%);
                }

                .seriesdetails {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 0.4rem;
                    justify-content: space-between;
                    padding: 0.6rem 0rem;

                    .toplayer {
                        display: flex;
                        flex-direction: column;
                        gap: 0.4rem;

                        .seriestitle {
                            color: hsl(0, 0, 80%);
                            font-size: 1.66rem;
                            text-align: left;
                            font-weight: 500;
                            display: inline-flex;
                            align-items: center;
                            gap: 0.4rem;
                        }

                        .subheading {
                            color: hsl(0, 0, 40%);
                            font-size: 1.36rem;
                            text-align: left;
                            font-weight: 500;
                        }
                    }




                    .creator {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 1rem;
                        padding: 0rem 0rem;

                        .creatorbadge {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: relative;

                            .verifiedicon {
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                transform: translate(0.16rem, 0.16rem);
                            }
                        }

                        .creatordetails {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 0.2rem;

                            .headtxt {
                                font-size: 1.36rem;
                                font-weight: 500;
                                color: hsl(0, 0, 40%);
                            }

                            .subheadtxt {
                                font-size: 1.5rem;
                                font-weight: 500;
                                color: hsl(0, 0, 60%);
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                gap: 0.2rem;
                            }
                        }
                    }
                }


                .seriesbanner {
                    aspect-ratio: 1/1;
                    object-fit: cover;
                    max-height: 16rem;
                    @include protectmedia;
                }
            }

        }

    }

    .bottomlayer {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0rem 2rem;

        display: none;


        .searchfooter {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 1.4rem 0rem;

            .links {
                display: flex;
                align-items: center;
                flex-direction: row;
                gap: 0.8rem;
                font-size: 1.58rem;
                font-weight: 500;
                color: hsl(0, 0, 60%);

                .linkchip {
                    text-decoration: none;
                    text-transform: lowercase;
                    color: hsl(0, 0, 30%);
                    @include smooth;

                    &:hover {
                        color: hsl(0, 0, 90%);
                    }
                }
            }
        }

        .quicklinks {
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 0.6rem;

            .quicklink {
                height: 100%;
                max-height: 30rem;
                width: 100%;
                // max-width: 10rem;
                padding: 8rem 2rem 2rem 2rem;
                text-align: right;

                display: flex;
                align-items: flex-end;
                justify-content: flex-end;

                border-radius: 0.8rem;
                border-radius: 1.8rem;
                text-decoration: none;
                color: hsl(0, 0, 70%);
                font-size: 1.66rem;
                font-weight: 700;
                @include smooth;
                background-color: hsl(0, 0%, 20%);

                &:hover {
                    background-color: hsl(0, 0%, 26%);
                }
            }
        }
    }

    .searchinput {
        width: 100%;
        // max-width: 100%;

        margin: 1.6rem 3.2rem 1.6rem 1.6rem;

        display: flex;
        border-radius: 100rem;
        background-color: hsl(0, 0, 16%);
        padding: 0rem 1.6rem;
        align-items: center;
        gap: 1rem;
        flex-direction: row;

        cursor: pointer;
        user-select: none;

        overflow: hidden;
        @include smooth;

        &:hover {
            background-color: hsl(0, 0, 14%);

            .searchicon {
                fill: hsl(0, 0, 80%);
            }
        }

        .inputarea {
            height: 100%;
            width: 100%;

            padding: 1.6rem 0rem;
            font-size: 1.7rem;
            color: hsl(0, 0, 90%);
            line-height: 100%;
            font-weight: 500;
            overflow: hidden;

            background: none;

            &::placeholder {
                font-size: 1.7rem;
                color: hsl(0, 0, 56%);
                line-height: 100%;
                font-weight: 500;
            }
        }

        .searchicon {
            height: 2.4rem;
            fill: hsl(0, 0, 56%);
            @include smooth;
        }
    }
}