@use '../../../styles/essentials';
@import '../../../styles/essentials';


.mainwrap {
  display: flex;
  width: 100%;
  align-items: flex-start;
  flex-direction: column;

  width: 100%;
  max-width: 200rem;
  overflow-x: auto;
}

.cover {
  display: flex;
  position: relative;
  padding-left: 1.6rem;
  padding-right: 2rem;
  width: 100%;
  gap: 1.6rem;

  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: 0.2rem solid hsl(0, 0, 10%);
}

.divider {
  display: flex;
  height: 1.4rem;
  width: 0.16rem;
  background-color: hsl(0, 0, 20%);
}

.chip {

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: none;
  background: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.46rem;
  line-height: 100%;
  padding: 1.2rem 0rem 1.6rem 0rem;
  font-weight: 600;
  color: hsl(0, 0, 100%, 0.4);
  @include smooth;
  user-select: none;
  gap: 0.6rem;

  &:hover {
    color: hsl(0, 0, 86%);

    .icon {
      fill: hsl(0, 0, 86%);
    }
  }

  .icon {
    fill: hsl(0, 0, 100%, 0.4);
    @include smooth;
  }
}


.activechip {
  color: hsl(0, 0, 86%);

  .icon {
    fill: hsl(0, 0, 86%);
  }

  &::after {

    content: '';
    position: absolute;
    bottom: 0;
    user-select: none;
    width: 100%;
    height: 0.2rem;
    background-color: #727272;
  }
}