@use "../../../styles/essentials";
@import "../../../styles/_essentials.scss";

.wraper {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #161616;
    flex-direction: column;

    .nav {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        position: fixed;
        top: 0;
        max-width: 200rem;

        padding: 2rem 4rem;
        z-index: 10000;

        @media only screen and (max-width: 60rem) {
            padding: 2rem;
        }



        .buttons {
            display: flex;
            align-items: center;
            gap: 0.4;
            flex-direction: row;
        }



        .links {
            display: flex;
            flex-direction: row;
            gap: 2rem;
            align-items: center;

            .link {
                color: #000;
                font-size: 1.6rem;
                font-weight: 600;
                // text-transform: lowercase;
            }
        }
    }

    .container {
        display: flex;
        width: 100%;
        max-width: 200rem;
        background-color: #111111;

        min-height: 100lvh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 4rem;
        gap: 10rem;
        padding-top: 10rem;

        @media only screen and (max-width: 60rem) {
            padding: 2rem 2rem;
        }


        .header {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4rem;

            .headercontent {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 4rem;
                align-items: center;
                align-items: flex-start;
                padding: 16rem 0rem;

                .headerlist {
                    display: inline-flex;
                    gap: 1.6rem;
                    flex-wrap: wrap;
                    // text-align: center;

                    .title {
                        cursor: pointer;
                        color: #fafafa;
                        @include smooth;

                        mix-blend-mode: hard-light;
                        padding: 0.2rem 0rem;
                        font-size: 14rem;
                        font-weight: 900;
                        line-height: 80%;
                        font-family: "ivypresto-headline", serif;
                        font-weight: 500;
                        font-style: italic;

                        @media only screen and (max-width: 60rem) {
                            font-size: 6rem;
                            line-height: 80%;
                            text-align: left;
                        }

                        &:hover {
                            text-decoration: underline;
                            text-decoration-thickness: 0.6rem;
                            text-underline-offset: 1.1rem;
                        }
                    }
                }

                .subtitle {
                    font-size: 2rem;

                    font-weight: 400;
                    max-width: 44rem;
                    // text-align: center;
                    line-height: 150%;
                    color: hsl(0, 0%, 50%);

                    @media only screen and (max-width: 60rem) {
                        text-align: left;
                        font-size: 1.8rem;
                    }
                }

                .ctabtn {
                    color: hsl(0, 0%, 10%);
                    font-size: 1.7rem;
                    font-weight: 700;
                    border-radius: 20rem;
                    padding: 1.7rem 2rem;
                    cursor: pointer;
                    background-color: none;
                    background: #fff;


                    @media only screen and (max-width: 60rem) {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}


.loginbtn {
    color: #111;
    font-size: 1.56rem;
    font-weight: 700;
    border-radius: 20rem;
    padding: 1.7rem 2rem;
    cursor: pointer;
    background-color: none;
    background: #fff;
    // border: 0.16rem solid hsl(0, 0, 100%);
}