@use '../../styles/essentials';
@use '../../styles/typography';

@import '../../styles/essentials';
@import '../../styles/typography';

.navWithBg {
    background-color: hsl(0, 0%, 100%);
}

.navwraper {
    z-index: 500;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 8rem;

    @include smooth;

    .nav {
        z-index: 9999;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        max-width: 200rem;
        padding: 1.3rem 2rem;
        gap: 0.6rem;


        @media only screen and (max-width: 60rem) {
            // padding: 1.8rem 1.2rem;
            gap: 0.6rem;
        }

        .leftwraper {
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 0.6rem;

            .back {
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: center;
                gap: 0.3rem;
                font-size: 1.36rem;
                font-weight: 500;
                // padding: 1.38rem;

                height: 5rem;
                width: 5rem;
                text-decoration: none;
                @include smooth;
                background-color: hsl(0, 0, 13%);
                border-radius: 60rem;

                &:hover {
                    background-color: hsl(0, 0, 15%);

                    .backicon {
                        fill: hsl(0, 0, 90%);
                    }
                }

                .backicon {
                    @include smooth;
                    fill: hsl(0, 0, 40%);
                    height: 1.629rem;
                }
            }
        }

        .rightwraper {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            gap: 0.6rem;
            flex-direction: row;
            max-width: 5rem;

            .avatarbtn {
                display: inline-flex;
                align-items: center;
                justify-content: center;

                background: none;
                background-color: none;
                cursor: pointer;

                border-radius: 10rem;
                position: relative;
                @include smooth;

                z-index: 90;


                &:hover {
                    opacity: 0.8;
                }

                .settingslink {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;

                    .avatar {
                        @include protectmedia;
                        height: 5rem;
                        width: 5rem;
                        border-radius: 10rem;
                        object-fit: cover;
                        object-position: center;
                    }
                }

            }

        }


    }
}

.btn {
    display: flex;
    flex-wrap: nowrap;
    background-color: hsl(0, 0, 90%);
    color: hsl(0, 0, 10%);
    font-size: 1.56rem;
    border-radius: 10rem;
    font-weight: 600;
    text-wrap: nowrap;
    padding: 1.7rem 2rem;

    @include smooth;
    user-select: none;
    cursor: pointer;

    &:hover {
        background-color: hsl(0, 0, 70%);
    }
}