@use '../../../styles/essentials';
@use '../../../styles/typography';

@import '../../../styles/essentials';
@import '../../../styles/typography';



.wraper {
    background-color: hsl(0, 0%, 0%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 200rem;
        gap: 0.9rem;

        .content {
            margin-top: 4rem;
            padding: 4rem 1.6rem;
            display: flex;
            width: 100%;
            align-items: flex-start;
            flex-direction: column;
            gap: 4rem;

        }

        .hero {
            width: 100%;
            min-height: 60rem;
            height: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            display: flex;
            padding: 4rem 0rem;
            // border-radius: 1rem;
            position: relative;
            overflow: hidden;


            background-image: url(https://ik.imagekit.io/localstore/win.jpg?updatedAt=1734433802309);
            // height: 100vh;
            background-position: bottom;
            background-size: cover;
            width: 100%;
            backdrop-filter: none;


            .academylogo {
                height: 5.4rem;
            }

        }

        .wraperbox {
            display: flex;
            width: 100%;
            align-items: flex-start;
            justify-content: space-between;
            padding: 4rem 2rem;


            .subheading {
                width: 50%;
                display: flex;
                font-size: 1.46rem;
            }



            .componentboxwraper {
                display: flex;
                flex-direction: column;
                gap: 10rem;
                width: 100%;
                max-width: 50%;

                .componentbox {

                    display: grid;
                    gap: 2rem;
                    grid-template-columns: repeat(2, 1fr);

                    .component {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 0.6rem;

                        .featurelabel {
                            font-size: 1.66rem;
                            font-weight: 600;
                        }

                        .description {
                            font-size: 1.56rem;
                            font-weight: 500;
                            color: hsl(0, 0, 50%);
                        }
                    }
                }

                .subdesc {
                    font-size: 1.72rem;
                    font-weight: 400;
                    max-width: 70%;
                    color: hsl(0, 0, 60%);
                }

                .bigtxt {
                    font-size: 3.8rem;
                    font-weight: 700;
                    max-width: 70%;
                    line-height: 120%;
                    color: hsl(0, 0, 90%);
                }
            }


        }
    }
}

.gridsection {
    display: flex;
    width: 100%;
    min-height: 100dvh;
    align-items: center;
    justify-content: center;

    .bento {
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1/1;
        width: 100%;
        max-width: 40rem;
        position: relative;

        .grid {
            display: flex;
            height: 100%;
            width: 100%;
            aspect-ratio: 1/1;

            object-fit: contain;
            background-color: #000;
        }

        .downloadicon {
            display: flex;
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 1.6rem;
            height: 4rem;
            @include smooth;
            cursor: pointer;

            &:hover {
                scale: 96%;
            }
        }
    }


}