@use '../../../styles/essentials';
@import '../../../styles/essentials';

.avatarContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 10rem;
    width: 10rem;
    overflow: hidden;
    border-radius: 100rem;
    position: relative;
    border: 0.26rem solid hsl(0, 0, 10%);

    &:hover{
        .avatarsubcontainer{
            .uploadicon{
                opacity: 1;
            }
        }
    }
}

.avatarsubcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    position: relative;

    .avatar {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .uploadicon {
        position: absolute;

        height: 10rem;
        width: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: hsla(0, 0%, 0%, 0.6);
        z-index: 18;
        opacity: 0;
        @include smooth;
    }
}


.uploadbutton {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 10rem;
    z-index: 20;
    cursor: pointer;
    border-radius: 100rem;
    opacity: 0;

}

.skeletonLoader {
    @include skeleton-loading(100%, 100%);
}