@use '../../../styles/essentials';
@import '../../../styles/essentials';

.avatarContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 10rem;
    width: 10rem;
    overflow: hidden;
    border-radius: 100rem;
    position: relative;

    &:hover {
        .avatarsubcontainer {
            .uploadicon {
                opacity: 1;
            }
        }
    }
}

.avatarsubcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    position: relative;

    .avatar {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .uploadicon {
        position: absolute;

        height: 10rem;
        width: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: hsla(0, 0%, 0%, 0.6);
        z-index: 18;
        opacity: 0;
        @include smooth;
    }
}


.uploadbutton {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 10rem;
    z-index: 20;
    cursor: pointer;
    border-radius: 100rem;
    opacity: 0;

}

.skeletonLoader {
    @include skeleton-loading(100%, 100%);
}

.defaultavatar {
    border-radius: 100rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(87deg, #AFA7A1 -15.71%, #FE4200 28.99%, #FF805B 89.6%, #98B7C0 114.83%);
}