@use '../../styles/essentials';
@import '../../styles/essentials';

.footer {
    display: flex;
    align-items: center;
    width: 100%;
    // justify-content: center;
    flex-direction: column;
    background-color: hsl(0, 0, 0);

    @media only screen and (max-width: 60rem) {
        padding: 2.6rem 1.2rem;
    }

    .footerwraper {
        width: 100%;
        max-width: 200rem;
        display: flex;
        align-items: flex-start;
        padding: 6rem 4rem;
        flex-direction: row;
        justify-content: space-between;

        @media only screen and (max-width: 60rem) {
            flex-direction: column;
            align-items: flex-start;
            gap: 4rem;
            padding: 6rem 2rem;
        }

        .leftwraper {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 10rem;

            .logowraper {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 4.6rem;

                .footerhead {
                    font-size: 2.4rem;
                }

                .copy {
                    font-size: 1.4rem;
                    font-weight: 500;
                    color: hsl(0, 0, 50%);
                }
            }

            .linkswraper {
                display: flex;
                flex-direction: column;
                gap: 3rem;

                .linkhead {
                    font-size: 1.56rem;
                    font-weight: 600;
                }

                .linklist {
                    display: flex;
                    flex-direction: column;
                    gap: 1.8rem;

                    .link {
                        font-size: 1.8rem;
                        font-weight: 500;
                        color: hsl(0, 0, 46%);
                        text-transform: lowercase;
                        @include smooth;

                        &:hover {
                            color: hsl(0, 0, 100%);
                        }
                    }
                }
            }


        }

        .socials {
            display: flex;
            gap: 0.6rem;

            .sociallink {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 0.2rem solid hsl(0, 0, 36%);
                padding: 1rem;
                text-decoration: none;
                border-radius: 100rem;
                @include smooth;

                &:hover {
                    border: 0.2rem solid hsl(0, 0, 100%);
                    color: hsl(0, 0%, 100%);
                }
            }
        }

        .regulartxt {
            font-size: 1.3rem;
            font-weight: 400;
            color: hsl(0, 0, 50%);
        }

        .quicklinks {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            align-items: center;


            @media only screen and (max-width: 60rem) {
                flex-direction: column;
                gap: 0.6rem;
                align-items: flex-start;

                .divider {
                    display: none;
                }
            }

            .link {
                font-size: 1.66rem;
                font-weight: 400;
                color: hsl(0, 0, 50%);
                transition: 0.2s ease-in-out;

                &:hover {
                    color: hsl(0, 0, 80%);
                    text-decoration: underline;
                }
            }

            .divider {
                height: 0.2rem;
                width: 0.2rem;
                background-color: hsl(0, 0, 50%);
            }
        }
    }


}