@use '../../../styles/essentials';
@use '../../../styles/typography';

@import '../../../styles/essentials';
@import '../../../styles/typography';

.Tooltip {
    padding: 1rem 1rem;
    border-radius: 0.6rem;
    background-color: hsl(0, 0%, 18%);
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.6rem;

    .Label {
        color: hsl(0, 0%, 60%);
        @include font($burnerextrabold, $xxs, $none);
        font-size: 1.3rem;
        text-wrap: nowrap;
    }

    .ShortcutKeys {
        display: flex;
        flex-direction: row;
        gap: 0.3rem;
        align-items: center;

        .Key {
            color: hsl(0, 0%, 60%);
            @include font($burnerregular, $xxs, $none);

            font-weight: 600;
            display: flex;
            padding: 0.4rem;
            background-color: hsl(0, 0%, 0%);
            border-radius: 0.6rem;
        }
    }
}