@use '../../styles/essentials';
@import '../../styles/essentials';

.wraper {
    display: flex;
    width: 100%;

    flex-direction: column;
    align-items: center;
    min-height: 100vh;

    .container {
        width: 100%;
        display: flex;
        max-width: 200rem;
        align-items: flex-start;
        overflow: hidden;


        .content {
            padding: 4rem 4rem;
            width: 100%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;

            .contentwraper {
                display: flex;
                gap: 2rem;
                flex-direction: row;
                align-items: flex-end;
                justify-content: space-between;
                padding: 0rem 0rem;
                width: 100%;
                position: relative;
                align-items: flex-start;

                .userbadge {
                    display: flex;
                    flex-direction: column;

                    gap: 5rem;
                    max-width: 70%;

                    .username {
                        position: absolute;
                        top: 0;
                        left: 0;
                        font-size: 1.8rem;
                        font-weight: 600;
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        gap: 0.4rem;
                    }

                    .intro {
                        width: 100%;
                        font-weight: 400;
                        font-family: "freightdispcmp-pro";
                        font-size: 3.6rem;
                        color: hsl(0, 0, 80%);
                        margin-top: 10rem;
                    }
                }

            }
        }
    }
}


.creatordata {
    display: flex;
    overflow: hidden;
    
    flex-direction: row;
    justify-content: space-between;

    .creator {
        width: 100%;
        display: flex;
        gap: 1.6rem;
        flex-direction: column;
        .avatar {
            width: 24rem;
            height: 24rem;
            aspect-ratio: 1/1;
            @include protectmedia;
        }

        .contactbutton{
            background-color: hsl(0, 0, 90%);
            color: hsl(0, 0, 10%);

            border-radius: 0%;
            font-size: 1.48rem;
            padding: 1.46rem 1.6rem;
            font-weight: 600;
            line-height: 100%;
            cursor: pointer;
            border-radius: 100rem;
        }
    }

}
