@use '../../styles/essentials';
@import '../../styles/essentials';

.wraper {
    display: flex;
    width: 100%;

    flex-direction: column;
    align-items: center;
    min-height: 100vh;

    .container {
        width: 100%;
        display: flex;
        max-width: 200rem;
        align-items: flex-start;

    }
}

