@use '../../styles/essentials';
@import '../../styles/essentials';

.wraper {
    display: flex;
    width: 100%;

    flex-direction: column;
    align-items: center;
    min-height: 100vh;

    .container {
        width: 100%;
        display: flex;
        max-width: 200rem;
        align-items: flex-start;
        overflow: hidden;


        .content {
            padding: 4rem 4rem;
            width: 100%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;


            .socials {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 4rem 0rem;

                display: none;

                .sociallink {
                    padding: 0.6rem 0rem;
                    text-decoration: none;
                    display: flex;
                    flex-direction: row;
                    gap: 0.6rem;
                    align-items: center;

                    color: hsl(0, 0, 90%);
                    font-size: 1.56rem;
                    font-weight: 600;

                    @include smooth;

                    &:hover {
                        opacity: 0.5;
                    }

                    .socialicon {
                        height: 4rem;
                        fill: #fff;
                    }
                }

            }

            .contentwraper {
                display: flex;
                gap: 2rem;
                flex-direction: row;
                align-items: flex-end;
                justify-content: space-between;
                padding: 0rem 0rem;
                width: 100%;
                position: relative;
                align-items: flex-start;

                .userbadge {
                    display: flex;
                    flex-direction: column;

                    gap: 5rem;
                    max-width: 70%;

                    .username {
                        position: absolute;
                        top: 0;
                        left: 0;
                        font-size: 2rem;
                        font-weight: 600;
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        gap: 0.4rem;
                    }

                    .intro {
                        width: 100%;
                        font-weight: 400;
                        font-family: "freightdispcmp-pro";
                        font-size: 3.6rem;
                        color: hsl(0, 0, 80%);
                        margin-top: 10rem;
                    }
                }

            }
        }
    }
}