@use '../../../styles/essentials';
@import '../../../styles/essentials';

.settingscontainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: hsl(0, 0, 10%);

    .settingswraper {
        width: 100%;
        height: 100%;
        min-height: calc(100dvh - 8rem);
        max-height: calc(100dvh - 8rem);
        overflow-y: scroll;


        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-bottom: 4rem;

        .usersessiondata {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4rem;
            padding: 4rem 4rem 0rem 4rem;

            @media only screen and (max-width: 60rem){
                padding: 4rem 1rem;
            }

            .subwraper {
                display: flex;
                gap: 0rem;
                flex-direction: column;
                align-items: center;
                color: hsl(0, 0, 90%);
            }

            .header {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                max-width: 70rem;
                position: relative;
                &::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: '';
                    width: 100%;
                    background: var(--ln, linear-gradient(87deg, #AFA7A1 -15.71%, #FE4200 28.99%, #FF805B 89.6%, #98B7C0 114.83%));
                    height: 0.26rem;
                }

                .editbtn {
                    user-select: none;
                    cursor: pointer;
                    background-color: hsl(0, 0, 16%);
                    padding: 1.8rem 2.6rem;
                    font-size: 1.66rem;
                    font-weight: 400;
                    color: hsl(0, 0, 80%);
                    display: flex;
                    line-height: 100%;
                    align-items: center;
                    flex-direction: row;
                    gap: 1rem;
                    justify-content: space-between;
                    width: 100%;
                    @include smooth;

                    @media only screen and (max-width: 40rem){
                        padding: 1.8rem 1.6rem;
                    }

                    &:hover {
                        background-color: hsl(0, 0, 22%);
                    }
                }

                .logoutbtn {
                    user-select: none;
                    cursor: pointer;
                    background-color: hsl(0, 0, 16%);
                    padding: 1.8rem 2.6rem;
                    font-size: 1.66rem;
                    font-weight: 600;
                    color: hsl(0, 0, 80%);
                    display: flex;
                    line-height: 100%;
                    align-items: center;
                    flex-direction: row;
                    gap: 1rem;
                    justify-content: space-between;
                    width: 100%;
                    @include smooth;

                    @media only screen and (max-width: 40rem){
                        padding: 1.8rem 1.6rem;
                    }

                    &:hover {
                        color: hsl(0, 0, 100%);
                        background-color: hsl(0, 58%, 52%);
                    }
                }

                .mydata {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    align-items: center;
                    justify-content: space-between;
                    gap: 0.6rem;
                    background-color: hsl(0, 0, 16%);
                    padding: 4rem 2.6rem;
                    border-bottom: 0.03rem solid hsl(0, 0, 26%);

                    @media only screen and (max-width: 40rem){
                        padding: 4rem 1.6rem;
                    }

                    .plan {
                        display: flex;
                        flex-direction: column;
                        gap: 0.6rem;

                        .sectionhead {
                            font-size: 1.66rem;
                            color: hsl(0, 0, 90%);
                            font-weight: 700;
                        }

                        .sectionsubhead {
                            font-size: 1.66rem;
                            font-weight: 400;
                            color: hsl(0, 0, 50%);
                        }


                        .plandetails {
                            display: flex;
                            flex-direction: column;

                            .exploreplans {
                                text-decoration: none;
                                font-size: 1.66rem;
                                font-weight: 500;
                                color: hsl(203, 100%, 50%);
                            }
                        }
                    }
                }

            }

            .subheading {
                font-size: 1.66rem;
                font-weight: 500;
            }

            .userdata {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .name {
                    font-size: 2rem;
                    font-weight: 600;
                    color: hsl(0, 0, 90%);
                }

                .email {
                    display: none;
                    font-size: 1.66rem;
                    font-weight: 500;
                    text-transform: lowercase;
                    color: hsl(0, 0, 50%);
                }
            }
        }
    }
}

.avatar {
    height: 8rem;
    width: 8rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 100rem;
    object-position: center;
    user-select: none;
    pointer-events: none;
}